/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.toolbar{
        -fx-background-color: #243A51;
    }
    .jfx-hamburger-icon{
        -fx-spacing: 4px;
    }
    .jfx-hamburger StackPane{
        -fx-background-color: #ffffff;
        -fx-pref-width: 30px;
        -fx-background-radius: 5px;
    }
    .side-menu{
        -fx-background-color: #243A51;
    }
    .side-menu-button{
        -fx-background-color: #243A51;
        -fx-background-radius: 0px;
        -fx-border-radius: 0px;
        -fx-border-width: 0px;
        -fx-border-style: none;
        -fx-text-fill: white;
        -fx-pref-width: 130px;
        -fx-pref-height: 50px;
        -fx-cursor: hand;
        -fx-alignment: CENTER_LEFT;
    }
    .side-menu-button:hover{
        -fx-background-color: #9BA9B9;  
    }
    .card{
        -fx-background-color: white;
        -fx-border-radius: 4.0px;
        -fx-background-radius: 4.0px;
        -fx-effect: dropshadow(gaussian,rgb(0.0,0.0,0.0,0.15),6.0,0.7,0.0,1.5);
    }
    .blue-gradient{
        -fx-background-color: linear-gradient(to top right,#43BDF3,#2253AC);        
    }
    .jfx-tab-pane .header-region{
        -fx-background-color: transparent;
    }
    .jfx-tab-pane .tab-header-background{
        -fx-background-color: transparent;
    }
    .book-button{
        -fx-font-size: 15px;
        -fx-background-color: #2196F3;
        -fx-font-weight: BOLD;
        -fx-text-fill: white;
    }
    .block-button{
        -fx-font-size: 15px;
        -fx-background-color: #26A69A;
        -fx-font-weight: BOLD;
        -fx-text-fill: white;
    }
